<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lasersaur Backend</title>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></style>
  <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
  <script src="bower_components/spin.js/spin.min.js"></script>
  <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
  <script src="bower_components/angular-websocket/dist/angular-websocket.min.js"></script>

  <script src="admin.js"></script>
  <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Status</a></li>
        <li><a href="#">Logs</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center" ng-app="LasaurAdmin" ng-controller="AdminController as vm">
  <div class="row content">
    <div class="col-sm-8 text-left">
      <h2>Apps</h2>
      <a href="http://localhost:4444/" class="btn btn-primary btn-lg">
        Lasersaur
      </a>
      <a href="http://openhardwarecoza.github.io/LaserWeb2/" class="btn btn-primary btn-lg">
        LaserWeb2
      </a>

      <a href="raster/" class="btn btn-primary btn-lg">
        Pulseraster
      </a>

      <!--
      <h2>Lasersaur</h2>
      <table class="table table-bordered">
        <tr><td>work area</td> <td> {{vm.config.workspace[0]}}mm x {{vm.config.workspace[1]}}mm</td></tr>
        <tr><td>seekrate</td> <td> {{vm.config.seekrate}} mm/s</td></tr>
      </table>
      -->

      <h2>Firmware</h2>
      <h3>Configuration</h3>
      <table class="table table-bordered">
        <tr><td>serial port</td> <td>{{vm.config.serial_port}}</td></tr>
        <tr><td>baudrate</td> <td>{{vm.config.baudrate}}</td></tr>
      </table>

      <h3>Status</h3>

      <p ng-show="!vm.haveStatusUpdates">
        <span class="label label-warning">connection lost (showing old information)</span>
      </p>

      <table class="table table-bordered">
        <tr><td>
            status report
            <span class="label label-danger" ng-show="vm.status.REPORT != 'ok'">warning</span>
          </td>
          <td>
            <!-- <span class="label label-success" ng-show="vm.status.REPORT == 'ok'">ok</span> -->
            <!-- <span class="label label-danger" ng-show="vm.status.REPORT != 'ok'">error</span> -->
            {{vm.status.REPORT}}
          </td>
        </tr>
        <tr><td>firmware version</td> <td>{{vm.status.FIRMWARE_VERSION}}</td></tr>
        <tr><td>position</td> <td>{{vm.status.INFO_POS_X | number:1}}, {{vm.status.INFO_POS_Y|number:1}}</td></tr>
      </table>

      Backend Queue: <uib-progressbar max="100000" value="vm.status.QUEUE_BACKEND">{{vm.status.QUEUE_BACKEND}} bytes</uib-progressbar>
      Firmware Serial RX Buffer: <uib-progressbar max="100" value="vm.status.QUEUE_FIRMBUF_PERCENT">{{vm.status.QUEUE_FIRMBUF_PERCENT|number:0}}% ({{vm.status.QUEUE_FIRMBUF}} bytes)</uib-progressbar>

      <div class="checkbox">
        <label><input type="checkbox" ng-model="vm.showStatusDetails">Show JSON status</label>
      </div>
      <pre ng-show="vm.showStatusDetails">{{vm.status | json}}</pre>

      <span us-spinner="{radius:30, width:8, length:16}" spinner-on="vm.busy"></span>

      <div class="btn-group" uib-dropdown>
        <button id="change-firmware" type="button" class="btn btn-danger" uib-dropdown-toggle ng-disabled="vm.busy" ng-click="vm.message = ''">
          Change Firmware <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li><a href="#" ng-click="vm.buildAndFlash()">Build from Source and Flash (recommended)</a></li>
          <li><a href="#" ng-click="vm.flashRelease()">Flash Pre-Built Release (if you cannot build)</a></li>
          <li class="divider"></li>
          <li><a href="#" ng-click="vm.resetFirmware()">Reset Atmega (Restart Firmware)</a></li>
        </ul>
      </div>
      {{vm.message}}

    </div>
  </div>
</div>

</body>
</html>
