<div class="container" ng-controller="RasterController as vm">

  <h1>PulseRaster <small>experimental</small></h1>
  <div class="well">
    <div class="row">
      <div class="col-md-4">
        <form class="preview-frame">
          <label class="open-image">
            <span class="open-image-text text-muted" ng-hide="vm.uploadedImage">
              Select...
            </span>

            <div ng-show="vm.uploadedImage">
              <raster-preview width="300" height="300"
                              img="vm.canvas_gray"
                              always-zoomed="false"
              />
            </div>

            <input id="file-input" type="file" accept="image/*" style="display: none;">
          </label>
        </form>
        <div ng-show="vm.uploadedImage" class="preview-subtext text-muted">
          {{vm.uploadedImage.width}} x {{vm.uploadedImage.height}} pixels
        </div>
      </div>

      <div class="col-md-4">
        <div class="preview-frame" ng-show="vm.uploadedImage">
          <raster-preview width="300" height="300"
                          img="vm.canvas_pulse"
                          always-zoomed="true"
          />
        </div>
        <div class="preview-subtext text-muted" ng-show="vm.uploadedImage">
          {{vm.canvas_pulse.width}} x {{vm.canvas_pulse.height}} pulses ({{vm.canvas_pulse.width / (vm.params.width / 25.4) | number:0 }} dpi)
        </div>
      </div>
      <div class="col-md-4">
        <div class="job-summary">
          <span ng-show="vm.duration > 0">
            
        Duration: {{vm.duration | number:1}} minutes <br/>
          <span ng-show="vm.params.skip_empty">
         (Shorter if image has empty parts.) <br/>
          </span>
          </span>

          <div class="well" ng-show="vm.params.pos_x - vm.params.lead_in < -2.5">
            <p>
            <span class="label label-warning">Warning</span>
            <b>You risk hitting the X end-stop.</b>
            </p>
The X end-stop is usually at x=-5mm. Your move starts at x={{vm.params.pos_x - vm.params.lead_in | number:1}}. Please increase the X position, or reduce the lead-in. If you have set an appropriate table offset you can ignore this warning.</span>
          </div>

          <div class="well" ng-show="vm.params.raster_feedrate > 8000 || vm.params.travel_feedrate > 8000">
            <p>
            <span class="label label-danger">Danger</span>
            <b>Feedrate is very high.</b>
            </p>
               The firmware may not work well with feedrates above 8000. Watch your machine closely and expect motion glitches. The firmware <b>will lock-up</b> sometimes for feedrates around 16000 due to CPU overload.
          </div>

        <p>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <button class="btn btn-lg btn-primary" ng-click="vm.sendJob()" ng-disabled="!(vm.duration > 0)">Send to Lasersaur</button>
            </div>
          </div>
        </p>

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <button class="btn btn-default" type="button" title="move to origin" ng-click="vm.goToOrigin();">
              (0, 0)
            </button>
            <button class="btn btn-default" type="button" title="run homing cycle" ng-click="vm.homing();">
              <span class="glyphicon glyphicon-home"></span>
            </button>
            <button ng-show="vm.status.paused !== true"class="btn btn-default" type="button" title="pause" ng-click="vm.pause();">
              <span class="glyphicon glyphicon-pause"></span>
            </button>
            <button ng-show="vm.status.paused === true" class="btn btn-warning" type="button" title="continue" ng-click="vm.unpause();">
              <span class="glyphicon glyphicon-play"></span>
            </button>
            <button class="btn btn-default" type="button" title="stop and purge job" ng-click="vm.stopAndResume();">
              <span class="glyphicon glyphicon-stop"></span>
            </button>
          </div>
        </div>

        <uib-progressbar max="100" type="success" value="vm.status.queue.job_percent">{{vm.status.queue.job_percent|number:0}}%</uib-progressbar>
        <span class="text-muted">Firmware buffer tracking: {{vm.status.queue.firmbuf}} bytes<br/>
        Should be 254 when busy and less than 16 when idle.</span>
        <div ng-show="!vm.haveStatusUpdates" class="alert alert-danger">no status updates from backend server (reload the page to reconnect)</div>
        <p>{{vm.status.error_report}} </p>
        <p>
          {{vm.submitStatus}}
          <pre ng-show="vm.serverMessage">{{vm.serverMessage}}</pre>
        </p>

      </div>
    </div>

  </div>
  <div class="well">
    <div class="row">
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group form-group-lg">
            <label class="col-md-3 control-label" for="power">Power</label>
            <div class="col-md-5">
              <input class="form-control input-lg" id="power" type="number" min="0" step="0.1" ng-model="vm.params.energy_density" ng-change="vm.recalculate()">
              <span class="help-block">energy per mm² (0.3 to mark wood, 0.9 to engrave)</span>
            </div>
          </div>
          <div class="form-group" role="form">
            <label class="col-md-3 control-label" for="width">Width (mm)</label>
            <div class="col-md-2">
              <input class="form-control" id="width" type="number" min="0" ng-model="vm.params.width" ng-change="vm.recalculate()">
            </div>
            <label class="col-md-1 control-label">Height</label>
            <label class="col-md-2">
              <input class="form-control" type="number" ng-value="vm.height_calculated" ng-disabled="true">
            </label>
          </div>

          <div class="form-group" role="form">
            <label class="col-md-3 control-label">Position X (mm)</label>
            <div class="col-md-2">
              <input class="form-control" type="number" ng-model="vm.params.pos_x" ng-change="vm.recalculate()">
            </div>
            <label class="col-md-1 control-label">Y</label>
            <div class="col-md-2">
              <input class="form-control" type="number" ng-model="vm.params.pos_y" ng-change="vm.recalculate()">
            </div>
          </div>

          <div class="form-group form-group">
            <label class="col-md-3 control-label">Quality</label>
            <div class="col-md-2">
              <label class="form-check-inline">
                <input class="form-check-input" type="checkbox" ng-model="vm.params.skip_empty" ng-change="vm.recalculate()">
                Skip Empty
              </label>
            </div>
            <div class="col-md-3">
              <label class="form-check-inline">
                <input class="form-check-input" type="checkbox" ng-model="vm.params.bidirectional" ng-change="vm.recalculate()">
                Bidirectional
              </label>
            </div>
          </div>

          <div class="form-group form-group">
            <label class="col-md-3 control-label" for="lead-in">Lead-In (mm)</label>
            <div class="col-md-5">
              <input class="form-control" id="lead-in" type="number" min="0" step="0.1" ng-model="vm.requested_lead_in" ng-change="vm.recalculate()">
              <span class="help-block" ng-show="vm.uploadedImage">(acceleration distance {{vm.accel_dist|number:1}}&nbsp;mm)</span>
              <span class="help-block" ng-show="vm.uploadedImage && vm.params.lead_in !== vm.requested_lead_in">Actually using {{vm.params.lead_in|number:1}} mm, which is the acceleration distance plus 3 seconds. </span>
            </div>
          </div>

          <div class="form-group" role="form">
            <label class="col-md-3 control-label" for="ppmm">Pulses per mm</label>
            <div class="col-md-5">
              <input class="form-control" id="ppmm" type="number" min="0" step="0.5" ng-model="vm.requested_ppmm" ng-change="vm.recalculate()">
              <span class="help-block" ng-show="vm.uploadedImage">
                Actually doing {{vm.params.ppmm|number:1}}&nbsp;pulses per mm (closest match).
                Selected pulse duration: {{vm.params.pulse}}&nbsp;ticks ({{vm.pulse_duration_us()|number:0}}&nbsp;microseconds).
                Pulse frequency {{(vm.params.raster_feedrate/60 * vm.params.ppmm) |number:1}}&nbsp;Hz.
              </span>
            </div>
          </div>

          <div class="form-group form-group">
            <label class="col-md-3 control-label" for="max-feedrate">Max Feedrate</label>
            <div class="col-md-5">
              <input class="form-control" id="max-feedrate" type="number" min="0" step="100" ng-model="vm.max_feedrate" ng-change="vm.recalculate()">
              <span class="help-block" ng-show="vm.uploadedImage">Actual feedrate: {{vm.params.raster_feedrate | number:0}} mm/min (travel: {{vm.params.travel_feedrate | number:0}})</span>
            </div>
          </div>

          <div class="form-group form-group">
            <label class="col-md-3 control-label" for="max-intensity">Max Intensity</label>
            <div class="col-md-5">
              <input class="form-control" id="max-intensity" type="number" min="0" max="100" step="5" ng-model="vm.max_intensity" ng-change="vm.recalculate()">
              <span class="help-block" ng-show="vm.uploadedImage">Actual intensity: {{vm.actual_intensity | number:1}}%</span>
            </div>
          </div>

        </form>
        <div ng-show="vm.uploadedImage">
          Duration: {{vm.duration | number:1}} minutes <br/>
          <span ng-show="vm.params.skip_empty">
            (Shorter if image has empty parts.) <br/>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
